.contener-box{
    width: 30%;
    float: left;
    margin-top: 30px;
}
.conteneur.dark .box{
    background-color: #222;
    color: #e0d2d2;
}
.box{
    width: 95%;
    height: 100px;
    background-color: #fff;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.box p{
    font-size: 35px;
    color: #c4bbbb;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;

}
.conteneur.dark .box p span{
    color: #fff;
}
.box p span{
    font-size: 20px;
    font-weight: 400;
    color: #818181;
}
.box .icon-1{
    font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    padding-right: 10px;
}
.box-contain{
    width: 70%;
    float: left;
}
.box-contain-1{
    width: 30%;
    float: left;
}
.box-1{
    padding: 20px;
}
.box-1 p{
    margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.box-8, .box-4{
    margin-top: 40px;
    width: 95,5%;
    background-color: #fff;
    height: 500px;
 }
 .conteneur.dark .box-8,
 .conteneur.dark .box-4{
    margin-top: 40px;
    width: 95,5%;
    background-color: #222;
    
 }
 .box-8{
    margin-left: 10px;
    width: 95%;   
 }
 table{
    border-collapse: collapse;
    width: 100%;
 }
 .conteneur.dark td , th{
    text-align: left;
    padding: 15px;
    color: #fff;
    border-bottom: 1px solid #81818149 ;
 }
 td , th{
    text-align: left;
    padding: 15px;
    color: #222;
    border-bottom: 1px solid #81818149 ;
 }
 tr td img{
    width: 75px;
    height: 55px;
 }
 .conteneur.dark td img{
    width: 75px;
    height: 55px;
    background-color: #cff;
    border-radius: 50px;
 }

 .circle-wrap{
    margin: 50px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #b7b6b8;

 }
 .circle-wrap .circle .mask,
 .circle-wrap .circle .fill{
    width: 150px;
    height: 150px; 
    position: absolute;
    border-radius: 50%;
 }
 .circle-wrap .circle mask{
    /*clip: rect(0px, 150px, 150px, 75px);*/
 }
 .circle-wrap .circle mask .fill{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #f7403b;
 }
 .circle-wrap .circle mask.full,
 .circle-wrap .circle .fill{
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
    background-color: blue;
 }
 
 @keyframes fill {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(126deg); 
    }
 }
 .circle-wrap .inside-circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #f5efef;
    line-height: 130px; 
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2rem;

 }


  