*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 :root{
    --body-color:#E4E9F7;
    --sidebar-color:#fff;
    --primary-color: #695cFF;
    --primary-color-light:#F6F5FF;
    --toggle-color: #ddd;
    --text-color: #707070;

    /*===================transition==========*/

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
 }
 
 /**************************resutat css******************/

.sidebar .text {
    font-size: 16px;
    font-family: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar .icone{
color: var(--text-color);
opacity: 1;
}
.sidebar.close .icone{
    opacity: 0;
}
.sidebar.close .text{
   opacity: 0;
}
.sidebar .image{
    min-width: 100px;
    display: flex;
    align-items: center;
}
 /*********************sidebar*****************/

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
 }
 .sidebar.close{ 
   width: 88px;
 }
 .sidebar .image-text img{
    width: 75px;
    border-radius: 6px;
 }
 .sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

 }
 .sidebar li .icon,.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
 }
 .sidebar li .icon,
 .sidebar li .text{
    color: var(--text-color);
 }
 .sidebar header{
    position: relative;
 }
 .sidebar header .image-text {
    display: flex;
    align-items: center;
 }
  header .image-text .header-text  {
    display: flex;
    flex-direction: column;
 }
 .header-text .name{
    font-weight: 600;
    color: #695cFF;

 }
 .header-text .profession{
    margin-top: -2px;
    color: #695cFF;
    
 }
 .sidebar header .toggle{
    position:absolute;
    top: 50px;
    right: -25px;
    transform: translateY(-50px) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
 }
 
 .sidebar.close header .toggle{
   transform: translateY(-50%) ;
 }
 .conteneur.dark .sidebar header .toggle{
   color: var(--text-color);
 }
 .sidebar .search-box{
    border-radius: 6px;
    background: var(--primary-color-light);
 }
 .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
 }
.drop.angle{
   display: block;
   transition: 0.3s ease;
}
 .drop{
   display: none;
   background-color: #f0e7e7;
   
 }
 
 .icone{
   position: absolute;
   right: 0;
 }
 .icone.angle{
   transform: rotate(90deg);
 }
 .conteneur.dark .drop{
   background-color: rgba(255, 255, 255, 0.1);
 }
 .sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center ;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
 }
 .conteneur.dark .sidebar li a:hover{
   background-color: #707070;
 }
 .sidebar li a:hover{
    background: var(--primary-color);
 }
 .conteneur.dark .sidebar li a:hover .icon,
 .conteneur.dark .sidebar li a:hover .icone,
 .conteneur.dark .sidebar li a:hover .text{
    color: var(--text-color);
 }
 .sidebar li a:hover .icon,
 .sidebar li a:hover .icone,
 .sidebar li a:hover .text{
    color: var(--sidebar-color);
 }
 .sidebar .menu-bar{
   height: calc(100% - 50px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 .menu-bar .mode{
   position: relative;
   border-radius: 6px;
   background: var(--primary-color-light);
 }
 .menu-bar .mode .moon-sun{
   height: 50px;
   width: 60px;
   display: flex;
   align-items: center;
 }
 .menu-bar .mode i{
   position: absolute;
   transform: var(--tran-03);
 }
 .menu-bar .mode i.sun{
   opacity: 0;
 }
 .conteneur.dark .menu-bar .mode i.sun{
   opacity: 1;
 }
 .conteneur.dark .menu-bar .mode i.moon{
   opacity: 0;
 }

 .menu-bar .mode .toggle-switch{
   right: 0px;
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   height: 100%;
   min-width: 60px;
   cursor: pointer;
   border-radius: 6px;
   background: var(--primary-color-light);

 }
 .toggle-switch .switch{
   position: relative;
   height: 22px;
   width: 44px;
   border-radius: 25px;
   background: var(--toggle-color);
 }
 .switch::before{
   content: "";
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
   background: var(--sidebar-color);
   cursor: pointer;
   transition: var(--tran-03);
 }
 .conteneur.dark .toggle{
   color: var(--toggle-color);
 }
 .conteneur.dark .switch::before{
   left: 24px;
 }
 